<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<div class="card">
    <div class="card-header">
        <h5>Product List</h5>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table" width="50%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone no</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody>
                {% for i in data %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.phn_no}}</td>
                        <td>{{i.msg}}</td>
                        <td>
                            <form action="{% url 'deletecontact' dataid=i.id %}">
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}